.hero-section{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png) no-repeat center center/cover;
    position: relative;
}

.hero-section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-content{
    z-index: 2;
    text-align: center;
    color: white;
    max-width: 600px;
    padding: 20px;
}

.hero-content h3{
    font-size: 10vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-content span{
    font-size: 2vw;
}

.category-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 2vw;
    flex-wrap: nowrap;
    overflow-x: hidden;
    width: 90%;
    padding: 2vw;
    margin-left: 5vw;
}

.category-card{
    min-width: 200px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 4px 8px white;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.category-card:hover{
    border: 1px solid lightgray;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}


.category-image {
    width: 100%; /* Full width of the card */
    height: 200px; /* Fixed height for images */
    object-fit: cover;
}

.category-card h3{
    font-size: 2vw;
    margin-bottom: 2vw;
}

.category-card p{
    font-size: 1.5vw;
    padding: 0.3vw;
    color: gray;
}

.nav-bar{
    background-color: #FFFFFF; /* Light background color for better visibility */
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.links {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10vw;
}

.search-input{
    padding: 1vw 2vw;
    width: 500px;
    border-radius: 5px;
    border: 1px solid gray;
}

.user-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vw;
}


.user-img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.user-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.category-icons .icons-div {
    display: flex; /* Makes children (icons-content) align in a row */
    justify-content: space-between; /* Adjust spacing between items */
    align-items: center; /* Center items vertically */
    border-bottom: 1px solid gray;
    background-color: #FFFFFF;
}

.icons-content {
    display: flex;
    flex-direction: row; /* Align image and text vertically */
    align-items: center; /* Center content horizontally */
    padding: 1vw;
    margin: 0 5vw; /* Add some spacing between each icon-content */
    text-align: center;
    
}

.icon-img {
    width: 30px; /* Adjust size as needed */
    height: 30px;
    margin: 1vw;
}

.icons-content h5{
    font-size: 2.7vw;
}

.filters-div{
    height: 15vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.listing-container{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.4vw;
    margin-right: 1vw;
    padding: 1vw;
}

.listing-container a{
    text-decoration: none;
}
.listing-card{
    margin: 2vw;
    display: flex;
    flex-direction: column;
    height: 60vh;
    border-radius: 8px;
    width: 27vw;
    position: relative;
    transition: border 0.3s, transform 0.3s, box-shadow 0.3s;
    border: 1px solid transparent;
    
}

.listing-card:hover{
    border: 1px solid lightgray;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 0.2vw;
}

.listing-card-img-div{
    flex: 60%;
    width: 100%;
    height: 25vh;
    overflow: hidden;
    border-radius: 8px;
}

.listing-card-img-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.listing-card-info-div{
    flex: 40%;
    padding: 0.2vw;
    color: black;
}



.div1, .div2, .div3 {
    display: flex; /* Makes the children align in a row */
    justify-content: space-between; /* Adds space between items */
    align-items: flex-start; /* Centers items vertically */
    margin-bottom: 1vw;

}

.div2 p{
    font-size: 1.4vw;
}

.footer-container{
    height: 60vh;
    background-color: #F8F8F8;
}

.footer-container h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-container .logo-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vw;
    text-align: left;
    height: 25vh;
    line-height: 2vw;
}

.footer-links h6{
    font-size: 1.5vw;
}

.social-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1vw;
}

.footer-copyright{
    border-top: 1px solid #F8F8F8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    margin-top: 1vw;
}

.details-container {
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.details-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.details-name section{
    margin-right: 10vw;
    
}

.details-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
   
}

.details-additional {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.details-additional-button {
    border: 1px solid gray;
    padding: 0.5vw;
    margin: 1vw;
    border-radius: 10px;
    justify-content: space-between;
    color: #696969;
}

.details-image{
    border-bottom: 1px solid black;
}